.PageNotFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
  }

.PageNotFound_number {
    font-size: 120px;
    color:#572364;
}

.PageNotFound_text {
    font-size: 60px;
}

.PageNotFound_link_color{
    color:#572364;
}

.PageNotFound_link {
    font-size: 65px;
}

@media (max-width: 768px) {
    .PageNotFound_number {
        font-size: 80px;
        color:#572364;
        }

    .PageNotFound_text {
        font-size: 40px;
    }

    .PageNotFound_link {
        font-size: 45px;
    }
}

@media (max-width: 480px) {
    .PageNotFound_number {
        font-size: 50px;
        color:#572364;
        }

    .PageNotFound_text {
        font-size: 25px;
        
    }

    .PageNotFound_link {
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    .PageNotFound_number {
        font-size: 36px;
        color:#572364;
        }

    .PageNotFound_text {
      font-size: 18px;
    }

    .PageNotFound_link {
        font-size: 23px;
    }
}